@font-face {
    font-family:'Space Mono' ;
    src: url(../fonts/SpaceMono-Regular.ttf);
}
@font-face {
    font-family:'Lexend Deca' ;
    src: url(../fonts/LexendDeca-Regular.ttf);
}
$family-title:'Space Mono' ;
$family-text:'Lexend Deca' ;
$mainbackground:#fff;
$secondarybackground:#F2F5F9;
$footerstarbackground: #495567;
$footerendbackground: #333A44;
$colortitle:#495567;
$colortext:#939CAA;