@import './variables';
@import './mixin';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1410px;
    padding: 0 15px;
    margin:0 auto;
    overflow-x: hidden;
}
body {
    font-family: 'Space Mono';
}
button {
    cursor: pointer;
}
@import './all-blocks/all-blocks'