.app {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 92px;
    padding: 0 165px;
    @include forusing() {
        flex-direction: column;
        align-items: center;
        padding: 0 97px;
        row-gap:40px ;
    }
    @include formobile() {
        padding: 0 32px;
        row-gap: 48px;
    }
}
.appcard {
    max-width: 300px;
    @include forusing() {
       display: flex;
       max-width: 573px;
       column-gap: 80px;
    }
    @include formobile() {
        flex-wrap: wrap;
        justify-content:center;
        text-align: center;
    }
    &__img {
        margin-bottom: 40px;
    }
    &__text {
        &-title {
            font-family: $family-title;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }
        &-des {
            font-family:$family-text;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
            width: 300px;
            height: 100px;

        }

    }
}