.faqs {
    padding: 0 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include foraboutcard() {
        margin-top: 120px;
        padding: 0 39px;
    }
    &__maintitle {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
        color: #495567;
        max-width: 630px;
        @include formobile() {

        }

    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.78571px;
        color: #495567;
    }
    &__bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 64px;
        @include foraboutcard() {
            flex-direction: column;
            align-items: center;
        }
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        row-gap: 16px;
        &-title {
            background-color: $secondarybackground;
            max-width: 530px;
            // min-height: 92px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567; 
            padding: 22px 40px;
            @include formobile() {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.803571px;
            }
        }
        &-des {
            font-family: $family-text;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #495567;
            max-width: 500px;
            height: 75px;
            background-color: $secondarybackground;
            @include formobile() {
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                width: 251px;
                height: 175px;
            }
        }

    }
}